/* ==============================
    ROOT VARIABLES (Global Styles)
============================== */

:root {
--font-main: "Sintony", sans-serif;
--font-regular: 400;
--font-bold: 700;
}


/* ==============================
    RESET & BASE STYLES
============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
    font-weight: var(--font-regular);
    text-decoration: none;
}

h1,h2,h3,h4,h5{
    font-weight: var(--font-bold);
}

html{
    width: 100%;
    height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(0.25turn, #00305C, #40137A);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 3%;
}

header nav{
    width: 100%;
    height: 10VH;
    display: flex;
    justify-content: space-between;
}

nav a{
    color: #FFFF;
}

header img{
    height: 40px;
    display: flex;
}

nav .nav-link{
    margin-top: 6px;
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFF;
}

main .container{
    border: solid #00305C;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 3%;
    margin-top: 3%;
}

.container form{
    display: flex;
    flex-direction: column;
}

.container input{
    border-width: 1px;
    background-color: rgb(0, 48, 92, 0.2);
    border-radius: 10px;
    width:380px;
    height: 46px;
    padding: 14px 12px;
}

input:focus {
    background-color: rgb(232,240,254);
    outline: none;
}

input:not(:placeholder-shown) {
    background-color: rgb(232,240,254);
}

.container button{
    padding:3%;
    border-radius: 10px;
    font-size: larger;
    font-weight: var(--font-bold);
    cursor: pointer;
}